* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 20px;
  -webkit-text-size-adjust: none;
}
body {
  margin: 0 auto;
  font-family: 'Microsoft Yahei', '黑体', 'Ubuntu';
  background-color: #efefef;
  font-size: 12px;
}
p {
  color: #99a3b1;
  font-size: 12px;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #99a3b1;
}
.img-responsive,
.video-responsive {
  width: 100%;
  height: auto;
  -webkit-text-adjust: none;
}
.lead-title {
  color: #434a54;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}
.unstyled-list {
  margin-left: 0;
  list-style: none;
}
.hidden {
  display: none !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.left-rect {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.right-rect {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.flat-container {
  display: block;
  width: 100%;
  margin: 0.4rem 0;
}
.flat-container.compact {
  padding: 0 0.4rem;
}
.flat-container.slim {
  margin: 0.25rem 0;
  padding: 0 0.25rem;
}
.block-flat {
  display: block;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}
.block-flat .header {
  position: relative;
  padding: 0.6rem 0.6rem 0;
  margin-bottom: 0.6rem;
}
.block-flat .header > a {
  display: block;
  width: 100%;
  height: 100%;
}
.block-flat .header .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 0.7rem;
  color: #434a54;
}
.block-flat .header .subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 12px;
  color: #99a3b1;
}
.block-flat .header .action {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
}
.block-flat .header .action > a,
.block-flat .header .action > span {
  font-size: 0.6rem;
  color: #ff7d13;
}
.block-flat .content {
  margin-top: 0.6rem;
  padding: 0 0.6rem 0.6rem;
}
.block-flat .content.no-top-padding {
  padding-top: 0;
  margin-top: 0;
}
.block-flat-simple {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}
.block-flat-simple .header {
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #cccccc;
}
.block-flat-simple .header > a {
  display: block;
  width: 100%;
  height: 100%;
}
.block-flat-simple .header .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 0.7rem;
  color: #434a54;
}
.block-flat-simple .header .subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 12px;
  color: #99a3b1;
}
.block-flat-simple .header .action {
  position: absolute;
  right: 0.75rem;
  top: 0;
}
.block-flat-simple .header .action > a,
.block-flat-simple .header .action > span {
  font-size: 0.6rem;
  color: #ff7d13;
}
.block-flat-simple .content {
  padding-top: 0.5rem;
}
.block-flat-simple .content.no-top-padding {
  padding-top: 0;
}
.block-fixed {
  position: fixed;
  left: 0;
  display: block;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.block-fixed.fixed-to-bottom {
  bottom: 0;
}
.btn {
  display: inline-block;
  width: 3.4rem;
  max-width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.6rem;
  color: #333333;
  text-align: center;
  border: 1px solid #333333;
  border-radius: 0.15rem;
  background-color: transparent;
  cursor: pointer;
}
.btn:active {
  background-color: #333333;
  color: #ffffff;
  outline: none;
}
.btn.btn-primary {
  border-color: #099fde;
  color: #099fde;
}
.btn.btn-primary:active {
  background-color: #099fde;
  color: #fff;
}
.btn-reverse {
  display: inline-block;
  width: 3.75rem;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.6rem;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.15rem;
  border: none;
  cursor: pointer;
}
.btn-reverse:active {
  background-color: #e6e6e6;
  outline: none;
}
.btn.btn-block,
.btn-reverse.btn-block {
  height: 2rem;
  width: 100%;
  line-height: 2rem;
  font-size: 14px;
}
.item-horizontal {
  position: relative;
  display: block;
  width: 100%;
  height: 5.15rem;
  padding: 0.5rem;
  background-color: #ffffff;
}
.item-horizontal > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.item-horizontal .item-logo,
.item-horizontal .item-info,
.item-horizontal .item-action {
  float: left;
  overflow: hidden;
  height: 100%;
}
.item-horizontal .item-logo {
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-horizontal .item-logo img {
  max-height: 100%;
  width: 100%;
}
.item-horizontal .item-info {
  width: 68.8%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.item-horizontal .item-info .item-info-title {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-weight: normal;
  font-size: 0.7rem;
  color: #434a54;
}
.item-horizontal .item-info .item-info-des {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 0.65rem;
  color: #99a3b1;
}
.item-horizontal .item-action {
  display: table;
  width: 6.16%;
  table-layout: fixed;
}
.item-horizontal .item-action .item-action-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.item-horizontal .item-action .icon {
  width: 100%;
  height: 0.75rem;
}
.item-horizontal-compact {
  position: relative;
  display: block;
  width: 100%;
  height: 5.15rem;
  padding: 0.5rem 0.4rem;
  background-color: #ffffff;
}
.item-horizontal-compact > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.item-horizontal-compact .item-logo,
.item-horizontal-compact .item-info {
  overflow: hidden;
}
.item-horizontal-compact .item-logo {
  width: 3.4rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-horizontal-compact .item-logo img {
  max-height: 100%;
  width: 100%;
}
.item-horizontal-compact .item-info {
  position: absolute;
  left: 4.15rem;
  top: 0.5rem;
  right: 0.4rem;
  bottom: 0.5rem;
}
.item-horizontal-compact .item-info .item-info-title {
  padding-right: 3.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-weight: normal;
  font-size: 0.7rem;
  color: #434a54;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item-horizontal-compact .item-info .item-info-subtitle {
  margin-top: 0;
  margin-bottom: 0.15rem;
  font-weight: normal;
  font-size: 0.65rem;
  color: #99a3b1;
}
.item-horizontal-compact .item-info .item-info-des {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 0.65rem;
  color: #99a3b1;
}
.item-horizontal-compact .item-info .item-info-des.two-line {
  line-height: 0.75rem;
  height: 1.5rem;
  overflow: hidden;
}
.item-horizontal-compact .item-action {
  position: absolute;
  right: 0.4rem;
  top: 0.5rem;
}
.item-horizontal-compact .item-action .btn {
  width: 3.2rem;
  height: 1.25rem;
  line-height: 1.25rem;
}
.item-vertical {
  position: relative;
  display: block;
  width: 30.5555%;
  height: auto;
  padding: 0;
  background-color: #ffffff;
}
.item-vertical > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.item-vertical .item-logo,
.item-vertical .item-info,
.item-vertical .item-action {
  display: block;
  width: 100%;
}
.item-vertical .item-logo {
  height: 3.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-vertical .item-logo img {
  max-height: 100%;
  width: 100%;
}
.item-vertical .item-info {
  width: 100%;
}
.item-vertical .item-info .item-info-title {
  margin-top: 0.35rem;
  margin-bottom: 0.2rem;
  font-weight: normal;
  font-size: 0.65rem;
  color: #434a54;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item-vertical .item-info .item-info-des {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 0.65rem;
  color: #99a3b1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item-vertical .item-action {
  margin-top: 0.5rem;
  text-align: center;
}
.item-group:before,
.item-group:after {
  content: " ";
  display: table;
}
.item-group:after {
  clear: both;
}
.item-group:before,
.item-group:after {
  content: " ";
  display: table;
}
.item-group:after {
  clear: both;
}
.item-group .item-vertical {
  float: left;
}
.item-group .item-vertical:not(:last-child) {
  margin-right: 4.166666%;
}
.item-group .item-vertical:nth-of-type(3n) {
  margin-right: 0;
}
.item-group .item-vertical:nth-child(n+4) {
  margin-top: 0.25rem;
}
.item-group-compact:before,
.item-group-compact:after {
  content: " ";
  display: table;
}
.item-group-compact:after {
  clear: both;
}
.item-group-compact:before,
.item-group-compact:after {
  content: " ";
  display: table;
}
.item-group-compact:after {
  clear: both;
}
.item-group-compact .item-vertical {
  float: left;
  width: 32.4%;
}
.item-group-compact .item-vertical:not(:last-child) {
  margin-right: 1.38888%;
}
.item-group-compact .item-vertical:nth-of-type(3n) {
  margin-right: 0;
}
.item-group-compact .item-vertical:nth-child(n+4) {
  margin-top: 0.25rem;
}
.item-group-compact.row-2 .item-vertical {
  width: 49%;
}
.item-group-compact.row-2 .item-vertical:nth-of-type(2n) {
  margin-right: 0;
}
.item-group-compact.row-2 .item-vertical:nth-of-type(2n+1) {
  margin-right: 2%;
}
.item-group-compact.row-2 .item-vertical:nth-child(n+3) {
  margin-top: 0.25rem;
}
/*
 * Tue Jun 02 2015 13:05:13 GMT+0800 (CST)
 * Here is the sprite plugin automatically generated style file.
 */
.icon {
  display: inline-block;
  background-image: url(../../img/sprite.png);
  background-repeat: no-repeat;
  background-image: -webkit-image-set(url(../../img/sprite.png) 1x, url(../../img/sprite@2x.png) 2x);
}
.icon-app {
  background-position: -6px -6px;
  width: 35px;
  height: 35px;
}
.icon-back {
  background-position: -6px -47px;
  width: 9px;
  height: 17px;
}
.icon-download {
  background-position: -6px -70px;
  width: 22px;
  height: 23px;
}
.icon-game {
  background-position: -6px -99px;
  width: 35px;
  height: 35px;
}
.icon-more {
  background-position: -6px -140px;
  width: 6px;
  height: 10px;
}
.icon-next-double-disable {
  background-position: -6px -156px;
  width: 13px;
  height: 13px;
}
.icon-next-double {
  background-position: -6px -175px;
  width: 13px;
  height: 13px;
}
.icon-play {
  background-position: -6px -194px;
  width: 75px;
  height: 75px;
}
.icon-previous-double-disable {
  background-position: -6px -275px;
  width: 13px;
  height: 13px;
}
.icon-previous-double {
  background-position: -6px -294px;
  width: 13px;
  height: 13px;
}
.icon-search {
  background-position: -6px -313px;
  width: 22px;
  height: 22px;
}
.icon-tip {
  background-position: -6px -341px;
  width: 21px;
  height: 19px;
}
.icon-triangle-down {
  background-position: -6px -366px;
  width: 10px;
  height: 6px;
}
.icon-video {
  background-position: -6px -378px;
  width: 35px;
  height: 35px;
}
.cy-topbar {
  position: relative;
  display: block;
  width: 100%;
  height: 2.2rem;
  padding: 0.2rem 0.75rem;
  border-bottom: 1px solid #cccccc;
  background-color: #efefef;
}
.cy-topbar:before,
.cy-topbar:after {
  content: " ";
  display: table;
}
.cy-topbar:after {
  clear: both;
}
.cy-topbar:before,
.cy-topbar:after {
  content: " ";
  display: table;
}
.cy-topbar:after {
  clear: both;
}
.cy-topbar .logo {
  position: relative;
  z-index: 1;
  float: left;
  display: table;
  height: 100%;
}
.cy-topbar .logo .logo-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 0.6rem;
}
.cy-topbar .logo .logo-inner .icon {
  display: block;
}
.cy-topbar .actions {
  position: relative;
  z-index: 1;
  float: right;
  display: table;
  height: 100%;
}
.cy-topbar .actions .action-btn {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 0.3rem;
}
.cy-topbar .actions .action-btn .icon {
  display: block;
}
.cy-topbar .title {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #434a54;
  font-size: 16px;
  line-height: 2.2rem;
}
.cy-pager {
  padding: 0 0.5rem;
  text-align: center;
}
.cy-pager .page-num {
  display: inline-block;
  padding: 0 1rem;
  line-height: 2.5rem;
  font-size: 0.7rem;
  color: #888d94;
}
.cy-pager .prev,
.cy-pager .next {
  padding: 0 1rem;
  width: 0.65rem;
  height: 0.65rem;
}
/* 试听弹窗 */
.centered-modal-ct {
  /*兼容Android2.x的fixed元素*/
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 15px;
  overflow: visible;
  text-align: center;
  z-index: 100;
}
.centered-modal-ct.open {
  display: block;
}
.centered-modal {
  display: inline-block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 10px 10px 10px;
  -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.centered-modal .close-btn {
  position: absolute;
  top: -4px;
  right: -4px;
  border: none;
  font-size: 18px;
  margin: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: white;
  border-radius: 13px;
  box-shadow: 2px -2px 3px 0 rgba(0, 0, 0, 0.2);
}
.music-player {
  width: 96%;
  max-width: 360px;
  padding: 10px 20px;
}
.music-player .label {
  width: 100%;
}
.music-player audio {
  width: 100%;
  margin-top: 10px;
}
.nowrap-text {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* end 试听弹窗 */
.set-banner {
  height: 180px;
}
.set-desc {
  padding: 0.6rem 0.8rem;
  font-size: 14px;
  background-color: #fff;
}
.set-desc p {
  font-size: 14px;
  color: #434a54;
}
.item-horizontal-compact .item-logo {
  height: 3.4rem;
}
/*# sourceMappingURL=./content/css/ContentSet/content.css.map */