tpl_path = "tpl/"
tpl_cache_path = "/tmp/"
db_path = "ap_content.db"
# timeout x second
session_timeout = 1800
listen_address = "0.0.0.0"
listen_port = 8080
user_host = "http://user-tecno.longdata.cc/dmc/index.php"
#user_host = "http://192.168.7.163:5003/dmc/index.php"
apid_path = "/tmp/APID"
logpath = "/tmp/log"
logfile = "evhtp.log"
session_pos = "/tmp/SessionPos.log"
session_data = "/tmp/SessionFile/"
# 0 debug
log_level = 0
language_path = 'assets/language_package/Indonesia.package'
# thread_count = 1
# socket_backlog = 1024
